site_name: YUMI-LAB documentation
repo_url: https://github.com/Yumi-Lab/yumi-wiki.git
repo_name: Yumi-Lab/yumi-wiki

# Website layout configuration (using mkdocs-material theme)
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: blue
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: grey
      accent: light blue
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  logo: ..//img/YUMI_LOGO.svg
  favicon: ..//img/favicon.ico
  icon:
    repo: fontawesome/brands/github
    alternate: material/web
  features:
      #- navigation.tabs
      #- navigation.expand
      - navigation.top
      - navigation.footer
      - navigation.top
      # if enabled, the TOC doesn't work for some pages
      # - toc.integrate
      - search.suggest
      - search.highlight
      - search.share
  language: en
extra_css:
  - css/extra.css

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - YUMI SBC nano-computer:
    - SMART PI ONE:
      - SmartPI/SmartPi_One_specifications.md
      - SmartPI/SmartPi_Klipper.md
      - SmartPI/SmartPi_Retro_Gaming.md
      - SmartPI/SmartPi_Home_Assistant.md
      - SmartPI/SmartPi_Linux_Desktop.md
      - SmartPI/SmartPi_Linux_server.md
  - YUMI others Components:
    - Yumi_Components/SmartLCD_Touch_4.3inch800x480specifications.md
    - Yumi_Components/SmartHub_specifications.md
    - Yumi_Components/SmartShield_specifications.md
  - YUMI Klipper SMART PAD:
    - KlipperSmartPad/SmartPad_specifications.md
    - KlipperSmartPad/Remote_multi_printers.md
        - PRINTERS:
      - PRINTERS/SIDEWINDER_X2.md
      - PRINTERS/PRUSA_MK3.md
  

